{% extends "base/standard_layout.html" %}
{% block title %}Edit Tag Config{% endblock %}
{% block content %}
<div class="flex p-4 justify-between items-center">
  <div class="flex items-center gap-2">
    <h4 class="text-xl font-semibold">Edit Configuration</h4>
    <div class="w-24">
      {% if tag.status_config == 'read' %}
        <button type="button" class="w-20 border-0 rounded-md px-4 py-1 text-black bg-blue-200 text-xs font-normal">Read</button>
      {% elif tag.status_config == 'changed' %}
        <button type="button" class="w-20 border-0 rounded-md px-4 py-1 text-black bg-yellow-200 text-xs font-normal">Changed</button>
      {% elif tag.status_config == 'updated' %}
        <button type="button" class="w-20 border-0 rounded-md px-4 py-1 text-black bg-green-200 text-xs font-normal">Updated</button>
      {% elif tag.status_config == 'update error' %}
        <button type="button" class="w-20 border-0 rounded-md px-4 py-1 text-black bg-red-300 text-xs font-normal">Error</button>
      {% else %}
        <button type="button" class="w-20 border-0 rounded-md px-4 py-1 text-white bg-black text-xs font-normal">Unknown</button>
      {% endif %}
    </div>
  </div>
  <div class="flex gap-4">
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new/config">
      <input type="hidden" name="mac" value="{{tag.mac}}" />
      <button id="tag-update" class="bg-indigo-100 text-indigo-700 px-3 py-2 rounded-md" value="Update" name="Update" id="Update">Save</button>
    </form>
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new/config">
      <input type="hidden" name="mac" value="{{tag.mac}}" />
      <button id="tag-scan" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500" value="Scan" name="Scan" id="Scan">Read</button>
    </form>
    <a href="/tag-details/{{tag.mac}}"><button class="text-gray-800 bg-gray-300 px-3 py-2 rounded-md">Cancel</button></a>
  </div>
</div>
<div class="flex justify-between gap-1 p-4" style="height: 85vh; overflow: scroll;">
  <div class="flex flex-col gap-5 w-3/5">

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-base font-semibold">Asset ID</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="asset_id" mac="{{tag.mac}}" value="{{tag.asset_id}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-base font-semibold">Tag ID</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.tag_id if tag.tag_id else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-base font-semibold">Exp Date</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="expiration_date" mac="{{tag.mac}}" value="{{tag.expiration_date}}">
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">MAC</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.mac if tag.mac else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Update NFC</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="update_nfc" mac="{{tag.mac}}" value="{{tag.update_nfc}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Status Code</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.status_code if tag.status_code else 'N/A'}}</p>
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Enable CTE</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="enable_cte" mac="{{tag.mac}}" value="{{tag.enable_cte}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Tag Enabled</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="tag_enabled" mac="{{tag.mac}}" value="{{tag.tag_enabled}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Tag Advertisement Period</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="tag_advertisement_period" mac="{{tag.mac}}" value="{{tag.tag_advertisement_period}}">
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">BLE on Period</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="ble_on_period" mac="{{tag.mac}}" value="{{tag.ble_on_period}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">BLE on Wakeup Period</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="ble_on_wakeup_period" mac="{{tag.mac}}" value="{{tag.ble_on_wakeup_period}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">BLE Off Period</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="ble_off_period" mac="{{tag.mac}}" value="{{tag.ble_off_period}}">
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Tag Periodic Scan</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="tag_periodic_scan" mac="{{tag.mac}}" value="{{tag.tag_periodic_scan}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Battery Voltage</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.battery_voltage if tag.battery_voltage else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Read Battery Voltage</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="read_battery_voltage" mac="{{tag.mac}}" value="{{tag.read_battery_voltage}}">
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Altitude</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.altitude if tag.altitude else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Moved</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.moved if tag.moved else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Tag Firmware</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.tag_firmware if tag.tag_firmware else 'N/A'}}</p>
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">End Transac.</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="end_transac" mac="{{tag.mac}}" value="{{tag.end_transac}}">
      </div>
    </div>

  </div>
</div>

<script src="{{ url_for('static', filename='js/edit_tag_details.js') }}"></script>
{% endblock %}
