{% extends "base/standard_layout.html.j2" %}
{% block title %}Detected Tags{% endblock %}
{% block content %}
<div class="flex justify-between items-center p-3 border-b border-gray-200">
  <form class="flex items-center gap-2" method="POST" action="/api/gateway" id="formGateway">
    <select class="m-0 block w-52 rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"  name="gateway_selection" id="gateway">
      <option value="Zone A">Certification Area 1</option>
      <option value="Zone B">Certification Area 2</option>
      <option value="Zone C">Warehouse</option>
      <option value="Zone D">Loading Area</option>
    </select>
    <button class="text-xs text-indigo-600" onclick="submitFormGateway()">Rescan Zone</button>
  </form>
</div>

<div class="flex justify-between items-center px-10 py-3">
  <div class="flex items-center gap-10">
    <h4 class="text-xl">Located Assets</h4>
    <form id="search-form" class="m-0" method="POST" action="{{ url_for('tag_table') }}">
      {{ form.csrf_token }}
      {{ form.q }}
      {{ form.submit }}
    </form>
  </div>
  <div class="flex items-center gap-10">
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new">
      <button id="tag-scan" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500" value="Scan" name="Scan" id="Scan">Scan Tags</button>
    </form>
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new">
      <button id="tag-update" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500" value="Update" name="Update" id="Update">Update</button>
    </form>
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new">
      <button id="tag-location" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500" value="Location" name="Location" id="Location">Scan Locations</button>
    </form>
    {% if userRole == 'certification' %}
      <button type="button" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500">Process Certification Batch</button>
    {% endif %}
  </div>
</div>

<button id="select-all" class="text-xs text-indigo-600 px-5">Select All</button>
<ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5">

  {% for tag in tags %}    
    <li class="hover:bg-gray-50 px-6 py-3">
      <a class="relative flex justify-between items-center gap-x-6" href="/tag-details/{{tag.mac}}">   
      <div>
        <input aria-describedby="comments-description" name="comments" type="checkbox" data-id="{{tag.mac}}" class="tag-checkbox h-5 w-5 rounded-md border-gray-300 text-green-500 focus:ring-green-500">
      </div>
      <div class="w-40">
        <p class="text-sm font-semibold">{{tag.mac}}</p>
        <p class="text-xs font-normal">{{tag.name}}</p>
        <!-- <p class="text-xs font-normal">{{tag.tag_id}}</p> -->
      </div>
      <div class="w-40">
        <p class="text-xs font-normal"><span class="font-semibold">Batch </span>{{tag.batch_id}}</p>
        <p class="text-xs font-normal">exp<span class="font-semibold"> {{tag.expiration_date}}</span></p>
      </div>
      <div class="w-40">
        <p class="text-xs font-normal"><span class="font-semibold">Series </span>{{tag.series}}</p>
        <p class="text-xs font-normal text-gray-500">{{tag.asset_diameter}}</p>
      </div>
      <div class="w-24">
        {% if tag.status == 'read' %}
          <button type="button" class="border-0 rounded-md px-4 py-1 text-black bg-blue-200 text-xs font-normal">Read</button>
        {% elif tag.status == 'changed' %}
          <button type="button" class="border-0 rounded-md px-4 py-1 text-black bg-yellow-200 text-xs font-normal">Changed</button>
        {% elif tag.status == 'updated' %}
          <button type="button" class="border-0 rounded-md px-4 py-1 text-black bg-green-200 text-xs font-normal">Updated</button>
        {% elif tag.status == 'update error' %}
          <button type="button" class="border-0 rounded-md px-4 py-1 text-black bg-red-300 text-xs font-normal">Error</button>
        {% else %}
          <button type="button" class="border-0 rounded-md px-4 py-1 text-white bg-black text-xs font-normal">Unknown</button>
        {% endif %}
      </div>
      <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
      </a>  
    </li>
  {% endfor %}

</ul>

<div class="flex items-center justify-between border-t border-gray-200 border-b rounded-xl bg-white px-4 py-3 sm:px-6">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{first}}</span>
        to
        <span class="font-medium">{{last}}</span>
        of
        <span class="font-medium">{{totalTags}}</span>
        results
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">

        <a href="/tagtable?page={{prev}}" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
          <span class="sr-only">Previous</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </a>

        {% for page in pages %} 
          {% if page == current %}
            <a href="/tagtable?page={{page}}" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{page}}</a>
          {% else %}
            <a href="/tagtable?page={{page}}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{page}}</a>
          {% endif %}
        {% endfor %}

        <a href="/tagtable?page={{next}}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
          <span class="sr-only">Next</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </a>

      </nav>
    </div>
  </div>
</div>

{% if modalOpen %}
<div id="op-modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" modalOpen="{{modalOpen}}" aria-hidden="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-6xl sm:p-6">
        <div>
          <div class="flex flex-col gap-1 mt-3 text-center sm:mt-5">
            {% if operation == 'Scan' %}
            <h3 class="text-base font-semibold text-gray-900" id="modal-title">Scanning...</h3>
            {% elif operation == 'Update' %}
            <h3 class="text-base font-semibold text-gray-900" id="modal-title">Updating...</h3>
            {% elif operation == 'Location' %}
            <h3 class="text-base font-semibold text-gray-900" id="modal-title">Locating...</h3>
            {% else %}
            <h3 class="text-base font-semibold text-gray-900" id="modal-title">{{operation}}</h3>
            {% endif %}
            <div id="Progress_Status" class="w-full">
              <div id="myprogressBar" class="h-5 w-0 bg-indigo-600"></div>
            </div>
            <textarea class="border border-gray-500 rounded-md p-2 w-full" rows="3" readonly id="statuslog"></textarea>
          </div>
        </div>
        <div class="flex justify-end mt-5">
          <a href="{{ url_for('close_op_modal') }}">
          <button id="op-modal-btn-close" type="button" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500 hide-block">Close</button>
          </a>
          <form id="op-modal-btn-cancel" class="m-0" method="post" action="/api/canceloperation">
            <button class="border-0 rounded-md px-3 py-2 text-white bg-purple-500">Cancel Operation</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script src="{{ url_for('static', filename='js/editable_table.js') }}"></script>
{% endblock %}