{% extends "base/standard_layout.html" %}
{% block title %}Edit Tag Details{% endblock %}
{% block content %}
<div class="flex p-4 justify-between items-center">
  <h4 class="text-xl font-semibold">Edit Asset</h4>
  <div class="flex gap-4">
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new">
      <button id="tag-update" class="bg-indigo-100 text-indigo-700 px-3 py-2 rounded-md" value="Update" name="Update" id="Update">Save</button>
    </form>
    <form class="flex justify-between items-center m-0" method="post" action="/api/buttons/new">
      <button id="tag-scan" class="border-0 rounded-md px-3 py-2 text-white bg-purple-500" value="Scan" name="Scan" id="Scan">Read</button>
    </form>
    <a href="/tag-details/{{tag.mac}}"><button class="text-gray-800 bg-gray-300 px-3 py-2 rounded-md">Cancel</button></a>
  </div>
</div>
<div class="flex justify-between gap-1 p-4 mb-4" style="height: 85vh; overflow: scroll;">
  <div class="flex flex-col gap-5 w-3/5">

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-base font-semibold">Asset ID</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="asset_id" mac="{{tag.mac}}" value="{{tag.asset_id}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-base font-semibold">Cert ID</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="certificate_id" mac="{{tag.mac}}" value="{{tag.certificate_id}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-base font-semibold">Exp Date</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="expiration_date" mac="{{tag.mac}}" value="{{tag.expiration_date}}">
      </div>
    </div>

    <h1 class="text-xg font-bold">Asset Information</h1>

    <div class="flex flex-col gap-2">
      <label class="text-gray-900 text-sm">Comment</label>
      <input class="editable-field border border-gray-500 rounded-md p-2" name="asset_comment" mac="{{tag.mac}}" value="{{tag.asset_comment}}">
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Series</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="series" mac="{{tag.mac}}" value="{{tag.series}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Diameter</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="asset_diameter" mac="{{tag.mac}}" value="{{tag.asset_diameter}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Color</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="color" mac="{{tag.mac}}" value="{{tag.color}}">
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Type</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="type" mac="{{tag.mac}}" value="{{tag.type}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Machine ID</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="machine_id" mac="{{tag.mac}}" value="{{tag.machine_id}}">
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Is Machine</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="is_machine" mac="{{tag.mac}}" value="{{tag.is_machine}}">
      </div>
    </div>

    <h1 class="text-xg font-bold">Certification Information</h1>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 47%;">
        <label class="text-gray-900 text-sm">Company Name</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="certification_company_name" mac="{{tag.mac}}" value="{{tag.certification_company_name}}">
        {# <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.certification_company_name if tag.certification_company_name else 'N/A'}}</p> #}
      </div>
      <div class="flex flex-col gap-2" style="width: 47%;">
        <label class="text-gray-900 text-sm">Company ID</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="certification_company_id" mac="{{tag.mac}}" value="{{tag.certification_company_id}}">
        {# <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.certification_company_id if tag.certification_company_id else 'N/A'}}</p> #}
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Cert Place</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="certification_place" mac="{{tag.mac}}" value="{{tag.certification_place}}">
        {# <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.certification_place if tag.certification_place else 'N/A'}}</p> #}
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Cert Date</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="certification_date" mac="{{tag.mac}}" value="{{tag.certification_date}}">
        {# <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.certification_date if tag.certification_date else 'N/A'}}</p> #}
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">NDIR ID</label>
        <input class="editable-field border border-gray-500 rounded-md p-2" name="ndir_id" mac="{{tag.mac}}" value="{{tag.ndir_id}}">
      </div>
    </div>

    <h1 class="text-xl font-bold">BoltTag Information</h1>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 50%;">
        <label class="text-gray-900 text-sm">Tag ID</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.tag_id if tag.tag_id else 'N/A'}}</p>
        {# <input class="editable-field border border-gray-500 rounded-md p-2" name="tag_id" mac="{{tag.mac}}" value="{{tag.tag_id}}"> #}
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">X</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.x if tag.x else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Y</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.y if tag.y else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Altitude</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.altitude if tag.altitude else 'N/A'}}</p>
      </div>
    </div>

    <div class="flex justify-between gap-2">
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Batt. Voltage</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.battery_voltage if tag.battery_voltage else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">MAC</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.mac if tag.mac else 'N/A'}}</p>
      </div>
      <div class="flex flex-col gap-2" style="width: 30%;">
        <label class="text-gray-900 text-sm">Moved</label>
        <p class="border border-gray-500 bg-gray-200 rounded-md p-2 cursor-pointer">{{tag.moved if tag.moved else 'N/A'}}</p>
      </div>
    </div>
  </div>
  <div>
    <img class="rounded-lg w-96 pb-5" src="{{ url_for('static', filename=image) }}" alt="{{image}}">
    <form class="flex flex-col gap-5" action="/api/image" method="post" enctype=multipart/form-data>
      <input type="file" id="file-input" name="image" accept="image/*">
      <input type="hidden" name="certificate_id" value="{{tag.certificate_id}}" />
      <input type="hidden" name="tag_id" value="{{tag.tag_id}}" />
      <input type="hidden" name="mac" value="{{tag.mac}}" />
      <button class="rounded-md border border-purple-600 bg-white text-purple-600 px-3 py-1 w-fit" type="submit">Upload new image</button>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='js/edit_tag_details.js') }}"></script>
{% endblock %}

{# 
--- editable
*** uneditable
### commented out

tag_id ---
asset_id ---
ble_data_crc ###
certificate_id ***
type ---
expiration_date ###
color ---
series ---
asset_images_file_extension ###
read_nfc ###
certification_company_name ***
certification_company_id ***
certification_place ***
certification_date ***
test_type ###
asset_diameter ---
asset_comment ---
batch_id ###
batch_date ###
machine_id ---
asset_images_crc ###
logo_images_crc ###
signature_images_crc ###
owner_company_name ###
owner_data ###
ndir_id ---
 #}