<html>
  <head>
    <title>Detected Tags</title>
    <link href="{{ url_for('static', filename='css/mermaid_min.css') }}" type="text/css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>

      <!-- Dropdown Menu -->
     <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a  href="{{ url_for('page_scan_parameters') }}" target="_blank">Parameters</a>
        <a  href="{{ url_for('page_data_angles') }}">Data angles</a>
        <a  href="{{ url_for('page_data_scan') }}">Data scan</a>
        <a  href="{{ url_for('page_data_location') }}">Data location</a>
        <a  href="{{ url_for('page_data_anchors') }}">Data anchors</a>
      </div>
    </div>


    <form method="post" action="/api/gateway" id="formGateway">
      <hr>
      <label for="DataType">Choose Data Type:</label>
      <select name="gateway_selection" id="DataType" class="gateway" onchange="submitDataType()">
        <option value="page_configuration">Base Data</option>
        <option value="page_configuration_detail">Detail Data</option>
        <option value="page_configuration_configuration">Configuration Data</option>
      </select>
     </form>
      <script>
      // Set the selected value by using the value attribute
      document.getElementById("DataType").selectedIndex = 0;
    </script>

    <script>
        async function submitDataType() {
            const selectedPage = document.getElementById("DataType").value;
            if (selectedPage) {
                try {
                      if (selectedPage) {
                            window.location.href = selectedPage;  // Redirects to the selected page endpoint
                        }

                } catch (error) {
                    console.error('Error loading page:', error);
                }
            }
        }
    </script>
    <script>
        // Function to check the current page URL with the server
        function checkPage() {
            fetch('/get_current_page')  // Flask endpoint that returns the current page URL
                .then(response => response.json())
                .then(data => {
                    const serverPage = data.page_url; // Assume server returns {"page_url": "/current-page"}
                    const currentPage = window.location.pathname;

                    // If the server's page URL is different from the current page URL, reload the page
                    if (serverPage !== currentPage) {
                        location.reload();
                    }
                })
                .catch(error => console.error('Error fetching page URL:', error));
        }

        // Call the checkPage function every 10 seconds
        setInterval(checkPage, 10000); // Adjust interval as needed

      // Add event listener to call checkPage when the tab gets focus
      window.addEventListener("focus", checkPage);

    </script>
    <form method="post" action="/api/buttons">
      <div id="outer">
          <div class="inner"><button class="contactButton"  value="Scan" name="Scan" id="Scan">
            Scan
            <div class="iconButton">
              <svg
                height="14"
                width="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </button></div>

          <div class="inner"><button class="contactButton" value="Update" name="Update" id="Update">
            Update
            <div class="iconButton">
              <svg
                height="14"
                width="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </button></div>

          <div class="inner"><button class="contactButton" value="Location" name="Location" id="Location">
            Location
            <div class="iconButton">
              <svg
                height="14"
                width="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </button></div>
        </div>
    </form>
    <div>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>
    <script>
      const tableDiv = document.getElementById('table');

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[1].data};
          }
          else {
            return {};
          }
      };

      // Function to check/uncheck the checkbox based on Flask response
      function updateCheckboxState(rowId, checkbox) {
        fetch(`/checkbox_state?rowId=${rowId}`)
          .then(response => response.json())
          .then(data => {
            if (data.checked) {
              checkbox.checked = true;
            } else {
              checkbox.checked = false;
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }

      const grid = new gridjs.Grid({
        columns: [
          { id: 'select', name: 'select',width: '80px;',sort: true, 'attributes': editableCellAttributes,
                    formatter: (cell, row) => {
            return gridjs.html(`<input type="checkbox" class="checkbox_select" data-id="${row.cells[1].data}" />`);
          }

          },
          { id: 'mac', name: 'mac' , sort: true},
          { id: 'status', name: 'status' , sort: true},
          { id: 'name', name: 'name' , sort: false},
          { id: 'tag_id', name: 'tag_id', sort: true ,  'attributes': editableCellAttributes},
          { id: 'asset_id', name: 'asset_id',  'attributes': editableCellAttributes, sort: true },
          { id: 'certificate_id', name: 'certificate_id',  'attributes': editableCellAttributes, sort: false },
          { id: 'type', name: 'type',  'attributes': editableCellAttributes, sort: true },
          { id: 'expiration_date', name: 'expiration_date',  'attributes': editableCellAttributes, sort: false },
          { id: 'color', name: 'color',  'attributes': editableCellAttributes, sort: true },
          { id: 'series', name: 'series',  'attributes': editableCellAttributes, sort: true },
          { id: 'asset_images_file_extension', name: 'asset_images_file_extension',  'attributes': editableCellAttributes, sort: true },
          { id: 'end_transac', name: 'end_transac',  'attributes': editableCellAttributes, sort: true,'attributes': editableCellAttributes },
          { id: 'last_seen', name: 'last_seen',  'attributes': editableCellAttributes, sort: true },
          { id: 'read_nfc', name: 'read_nfc',  'attributes': editableCellAttributes, sort: true ,
            formatter: (cell, row) => {
              return gridjs.html(`<input type="checkbox" class="checkbox_read_nfc" data-id="${row.cells[1].data}" />`);
            }
          },
          { id: 'x', name: 'x', sort: false },
          { id: 'y', name: 'y', sort: false },
          { id: 'status_code', name: 'status_code', sort: true },
        ],
        server: {
          url: '/api/data',
          then: results => results.data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },

        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = [  'select','mac', 'name','tag_id','asset_id','certificate_id','type','expiration_date','color','series','asset_images_file_extension','read_nfc','x','y'];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },

      }).render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });


            // Capture checkbox changes and send data to Flask
      document.addEventListener('change', function(e) {
        if (e.target && e.target.matches('input.checkbox_select')) {
          let isChecked = e.target.checked;
          let rowId = e.target.getAttribute('data-id');

          // Send checkbox state to Flask using fetch
          fetch('/checkbox_select', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ rowId: rowId, checked: isChecked })
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        }
      });

  // Capture checkbox changes and send data to Flask
      document.addEventListener('change', function(e) {
        if (e.target && e.target.matches('input.checkbox_read_nfc')) {
          let isChecked = e.target.checked;
          let rowId = e.target.getAttribute('data-id');

          // Send checkbox state to Flask using fetch
          fetch('/checkbox_read_nfc', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ rowId: rowId, checked: isChecked })
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        }
      });


    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">

    function updater() {
      $.get('/data', function(data) {
        var splitData = data.split('#');
        $('#time').html(splitData[0]);  // update page with new data

        if (splitData[1] === "Enabled") {
            $('#Scan').removeClass("disabled");
            $('#Update').removeClass("disabled");
            $('#Location').removeClass("disabled");
            $('#Scan').removeClass("bold-border");
            $('#Update').removeClass("bold-border");
            $('#Location').removeClass("bold-border");
        } else {
            $('#Scan').addClass("disabled");
            $('#Update').addClass("disabled");
            $('#Location').addClass("disabled");
            if (splitData[2] === "Scan") {
              $('#Scan').addClass("bold-border")
            }
            if (splitData[2] === "Update") {
              $('#Update').addClass("bold-border")
            }
            if (splitData[2] === "Location") {
              $('#Location').addClass("bold-border")
            }
        }

        if (splitData[3] === "True") {
            grid.updateConfig({ search: true}).forceRender();
        }

      });
    };

    function updater_bar() {
      $.get('/databar', function(data) {
        $('#myprogressBar').css('width', data);;  // update page with new data
      });
    };

    function updater_statuslog() {
      $.get('/data_statuslog', function(data) {
        $('#statuslog').text(data);  // update page with new data
      });
    };


    setInterval(updater, 1000);  // run `updater()` every 1000ms (1s)
    setInterval(updater_bar, 2000);  // run `updater_bar()` every 2000ms (2s)
    setInterval(updater_statuslog, 1000);  // run `updater_statuslog()` every 1000ms (1s)



    </script>
  </body>
  <div class="row">
    <div class="column" >
      <p>Status Update</p>
      <div> Date & Time: <span id="time"></span> </div>
      <div id="Progress_Status">
        <div id="myprogressBar"></div>
      </div>
      <div>
          <!-- Button to load a different local webpage -->
        <form action="{{ url_for('locationpage') }}" method="get">
          <button id="redirectButton">Go to Tag Location Page</button>
        </form>
                  <!-- Button to load a different local webpage -->
        <form method="post" action="/api/canceloperation">
          <button id="cancelOperation">Cancel Last Operation</button>
        </form>

      </div>
    </div>

    <div class="column" >
      <p>Status Log</p>
      <textarea rows="6" cols="150" readonly id="statuslog">

      </textarea>

    </div>
  </div>

</html>