{% extends "base/standard_layout.html" %}
{% block title %}Tag Details{% endblock %}
{% block content %}
<div class="flex p-4 justify-between items-center">
  <a class="flex gap-3" href="/tagtable">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M15 18.5L9 12.5L15 6.5" stroke="#7C3AED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    Back
  </a>
  <div class="flex gap-4">
    <!-- <button class="flex gap-1 items-center bg-indigo-100 text-indigo-700 px-3 py-2 rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M10 4.16663V15.8333" stroke="#4338CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.16666 10H15.8333" stroke="#4338CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      Add to Batch
    </button>
    <button class="bg-indigo-100 text-indigo-700 px-3 py-2 rounded-md">Locate</button> -->
    <a href="/tag-details/edit/{{tag.mac}}"><button class="bg-indigo-100 text-indigo-700 px-3 py-2 rounded-md">Edit</button></a>
  </div>
</div>
<div class="flex justify-between gap-1 p-4">
  <div class="flex flex-col flex-grow gap-7">
    <div>
      <h1 class="text-xl font-semibold">{{tag.name}}</h1>
      <p class="text-sm font-normal"><span class="font-bold">ID </span>{{tag.tag_id}}</p>
    </div>
    <div>
      <p class="text-sm font-normal text-gray-700">Description</p>
      <div class="flex gap-1">
        <div class="w-1/2">
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Series</span>{{tag.series}}</p>
          <p class="flex text-sm font-normal">{{tag.asset_diameter}}</p>
          <p class="flex text-sm font-normal">{{tag.asset_comment}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Asset ID</span>{{tag.asset_id}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">MAC</span>{{tag.mac}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Is Machine</span>{{tag.is_machine}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Machine ID</span>{{tag.machine_id}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">NDIR ID</span>{{tag.ndir_id}}</p>
        </div>
        <div class="w-1/2">
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Location</span><span class="font-semibold">X </span>{{tag.x}} / <span class="font-semibold"> Y </span>{{tag.y}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Altitude</span>{{tag.altitude}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Moved</span>{{tag.moved}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Type</span>{{tag.type}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Color</span>{{tag.color}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Battery Voltage</span>{{tag.battery_voltage}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Status Code</span>{{tag.status_code}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Select</span>{{tag.select}}</p>
        </div>
      </div>
    </div>
    <div>
      <p class="text-sm font-normal text-gray-700">Certification</p>
      <div class="flex gap-1">
        <div class="w-1/2">
          <p class="flex text-sm font-semibold">{{tag.certification_company_name}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Cert #</span>{{tag.certificate_id}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Cert Company ID</span>{{tag.certification_company_id}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Cert Place</span>{{tag.certification_place}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Cert Date</span>{{tag.certification_date}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Expires</span>{{tag.expiration_date}}</p>
          
        </div>
        <div class="w-1/2">
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Owner Company</span>{{tag.owner_company_name}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Owner Data</span>{{tag.owner_data}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Batch ID</span>{{tag.batch_id}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Batch Created</span>{{tag.batch_date}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Test Type</span>{{tag.test_type}}</p>
        </div>
      </div>
    </div>
    <div>
      <p class="text-sm font-normal text-gray-700">CRC / Extensions</p>
      <div class="flex gap-1">
        <div class="w-1/2">
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">BLE Data CRC</span>{{tag.ble_data_crc}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Asset Image CRC</span>{{tag.asset_images_crc}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Logo Image CRC</span>{{tag.logo_images_crc}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Signature CRC</span>{{tag.signature_images_crc}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Expires</span>{{tag.expiration_date}}</p>
        </div>
        <div class="w-1/2">
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Read NFC</span>{{tag.read_nfc}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Asset Image Ext</span>{{tag.asset_images_file_extension}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Logo Image Ext</span>{{tag.logo_file_extension}}</p>
          <p class="flex text-sm font-normal"><span class="font-semibold w-32 block">Signature Ext</span>{{tag.signature_image_file_extension}}</p>
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <a href="/view/cert/{{tag.mac}}"><button class="text-white rounded-md bg-gray-500 px-3 py-1">View Cert</button></a>
      <a href="/view/report/{{tag.mac}}"><button class="text-white rounded-md bg-gray-500 px-3 py-1">View Report</button></a>
    </div>
  </div>
  <div>
    <img class="rounded-lg w-96 pb-5" src="{{ url_for('static', filename=image) }}" alt="Asset Image">
  </div>
</div>
{% endblock %}