{% extends "base/standard_layout.html" %}
{% block title %}Report{% endblock %}
{% block content %}
<div class="flex p-4 justify-between items-center">
  <a class="flex gap-3" href="/tag-details/{{mac}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M15 18.5L9 12.5L15 6.5" stroke="#7C3AED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    Back
  </a>
</div>
<div class="flex justify-between gap-1 p-4">
  <object data="{{ url_for('static', filename=report)}}" type="application/pdf" style="min-height:85vh;width:100%"></object>
</div>
{% endblock %}